.orders-titles {
    padding-bottom: 1rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.orders-title {
    text-transform: uppercase;
}

.orders-items {
    height: 2rem;
    line-height: 2rem;
    position: relative;
}

section {
    margin-right: 10px;
}

.orders-items:nth-of-type(2n + 1):before {
    background-color: #EEEEFF;
    content: '';
    height: 100%;
    left: 0;
    margin-left: -100vw;
    position: absolute;
    top: 0;
    width: 200vw;
    z-index: -1;
}
.orders-item {
    font-weight: 300;
}

.orders-item--hover {
    opacity: 0;
    pointer-events: none;
}

.orders-link {
    color: #83D01B;
    text-decoration: none;
    transition: color 0.35s;
}

.orders-link:hover {
    color: #75b918;
    transition: color 0.35s;
}

.orders-detail-section {
    padding-bottom: 30px;
}

.orders-detail-title {
    font-size: 25px;
}